
[data-backdrop]{
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;

}
.active[data-backdrop]{
    opacity: 1;
    pointer-events: all;
}

[data-modal]{
    display: none;
}

.active[data-modal]{
    height: 95vh;
    border: 2px solid black;
    z-index: 20;
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}
.close-button{
    height: 20px;
    margin: 10px;
}