
[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    width: 25%;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.tabs p{
    cursor: pointer;
    height: 30px;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs p:hover{
    background-color: beige;
}
.activeTab{
    background-color: beige;
}